services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_rolehub
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '5432:5432'
    volumes:
      - postgres_rolehub_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis_rolehub
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_rolehub_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 3s
      retries: 3

volumes:
  postgres_rolehub_data:
  redis_rolehub_data:
